// Global Box Sizing
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// Sizes
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    padding: 1em;
}

sup {
    position: relative;
    top: -0.3em;
    font-size: 0.8em;
}
