.wrap--wide {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
}

.wrap--main {
    width: 96%;
    max-width: 91.6rem;
    margin-right: auto;
    margin-left: auto;
}

.wrap--medium {
    width: 96%;
    max-width: 114.6rem;
    margin-right: auto;
    margin-left: auto;
}

.wrap--narrow {
    max-width: 81.2rem;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
}
