.graphs__inner {
    display: flex;
}
.graph__body {
    margin-top: 0.5rem;
    font-size: 0.8em;
    margin-right: 2rem;
    position: relative;
    margin-left: 2.5em;
    // font-family: $utility;
}
.graph__row {
    display: flex;
    position: relative;
    cursor: pointer;
}
.graph__row-title {
    display: block;
    width: 2.5em;
    // text-align: right;
    // font-weight: 700;
    height: 1em;
    line-height: 1;
    margin-right: 0.5rem;
    position: absolute;
    // top: 0;
    left: -2.5em;
}
.graph__row:hover {
    background: $blue--paler;
    .graph__row-title {
        background: $blue--paler;
    }
}

.graph__row--focused {
    background: $blue--pale;
    .graph__row-title {
        background: $blue--pale;
    }
}
.graph__row-title--main {
    font-weight: 700;
}
.graph__row-title--extra {
    display: inline-block;
    padding: 0 0.5em 0 0.2em;
}

.graph__row-display-wrapper {
    display: block;
    width: 12em;
    flex-grow: 1;
    flex-shrink: 1;
}
.graph__row-display {
    display: block;
    height: 1em;
    background: $lime;
    position: relative;
    z-index: 1;
}

.graph__row-value {
    display: block;
    width: 1.5em;
    text-align: right;
    font-family: $utility;
    margin-right: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}

.graph__axis--y {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.1rem;
    background: $black;
    z-index: 2;
}

.graph__row--negative,
.graph__bar--negative {
    .graph__row-display {
        background: $puce--pale;
    }
}

.graph__row--negative .graph__row-value {
    right: auto;
    left: 0;
}

.graph__sorting {
    margin-top: 1rem;
    font-size: 0.8em;
    text-transform: uppercase;
}
.graph__sort-button {
    @extend %buttonReset;
    font-family: $text;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    border: 0.1rem solid $black;
    margin-left: 0.5rem;
    &.active {
        background: $black;
        color: $white;
    }
    &:focus {
        outline: none;
        color: $lime;
    }
}
