.table__wrapper {
    margin: 4rem 0;
}

.table__title-wrapper {
    display: block;
    text-align: right;
    font-family: $utility;
}

.table__title {
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
    display: inline-block;
    border-bottom: 0.1rem solid $black;
}

.table--results {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.5em;
    font-size: 0.8em;
    th,
    td {
        padding: 0.5rem 0.4rem;
        text-align: left;
        &.number {
            text-align: right;
            $bg--negative: lighten($red, 20%);
            $bg--positive: $primary;
            &.decile--0 {
                // background: rgba($bg--negative, 1);
            }
            &.decile--10 {
                // background: rgba($bg--negative, 0.6);
            }
            &.decile--20 {
                // background: rgba($bg--negative, 0.3);
            }
            &.decile--30 {
                // background: rgba($bg--negative, 0.4);
            }
            &.decile--40 {
                // background: rgba($bg--negative, 0.2);
            }
            &.decile--50 {
                // background: rgba(red, 1);
            }
            &.decile--60 {
                // background: rgba($bg--positive, 0.2);
            }
            &.decile--70 {
                // background: rgba($bg--positive, 0.4);
            }
            &.decile--80 {
                background: rgba($bg--positive, 0.3);
            }
            &.decile--90 {
                background: rgba($bg--positive, 0.6);
            }
            &.decile--100 {
                background: rgba($bg--positive, 1);
            }
        }
    }
    tbody {
        tr {
            transition: background 0.2s;
            &:nth-of-type(2n) {
                // background: rgba($black, 0.03);
            }
            &:hover {
                background: rgba($lime, 0.3);
            }
        }
    }
    thead {
        display: table-header-group;
        font-size: 0.8em;
        font-weight: bold;
        vertical-align: bottom;
        text-transform: uppercase;
        border-bottom: 0.2rem solid $black;
    }
}
