// COLOURS

// "The New Defaults"
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Project Colours
$lime: #bffed6;
$lime--bright: #73fea6;
$lime--dark: #397e52;
$lime--mid: #99cbab;
$lime--grey: #5f7e6b;
$puce: #b16562;
$puce--pale: #fec2bf;
$pink: #fe80ac;
$purple: #cb84c1;

$primary: $lime;

// Selection Colours
::selection {
    color: $white;
    background: $black;
}
a::selection {
    color: $black;
    background: $white;
}
